.card {
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
  margin-top: 1.7rem;
  padding: 1.5rem 1.2rem;
}

.rating {
  flex-direction: column;
  align-items: flex-end;
}

.button-rating {
  background: #EAF4EE;
  cursor: pointer;
  height: 1rem;
  margin: 0.3rem 0 0 1rem;
  width: 1rem;
}

.rating p {
  font-size: 1rem;
  text-align: right;
}

.button-rating.active {
  background: #41AF64;
}