.left-section i {
  font-size: 2rem;
}

.center-section h1 {
  margin-left: 7.5rem;
}

.right-section i {
  font-size: 1.8rem;
  padding-right: 20px;
}

.right-section h4 {
  font-size: 1.1rem;
  width: 7.1rem;
}